dash==1.20.0
dash_core_components==1.16.0
dash_html_components==1.1.3
numpy==1.24.4
pandas==2.0.3
plotly==4.14.3
pywencai==0.12.2
setuptools==69.5.1
tqdm==4.49.0
tqdm==4.50.2
tqdm==4.66.2
tushare==1.2.62
